/* searchbar.css */

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 400px; /* Adjust the width as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow */
  }
  
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-button {
    background-color: orangered; /* Your desired button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color:orange /* Change the color on hover */
  }
  
  .icon-search {
    margin-right: 10px;
    font-size: 18px;
    color: #333; /* Icon color */
  }
  